.card-container{
    width: 2rem;
    height: 4rem;
    margin: 0 0.15rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.3rem;
    display: inline-block;
}

.card-container > span:nth-child(1) {
    text-align: left;
}

.card-container > span:nth-child(2) {
    text-align: right;
}

.red-suit{
    color: red;
}